<div class="h-screen flex justify-center items-center">
  <p-card class="p-3 rounded w-[28rem] flex flex-col justify-center">
    <div>
      <h1 class="text-xl font-semibold text-center">Welcome To UNICIRCLE</h1>
    </div>
    <div class="flex gap-0 justify-center mt-3 mb-3">
      <button
        pButton
        class="!rounded-r-none"
        [severity]="isLogin ? 'contrast' : 'secondary'"
        (click)="isLogin = true"
      >
        Login
      </button>
      <button
        pButton
        class="!rounded-l-none"
        [severity]="isLogin ? 'secondary' : 'contrast'"
        (click)="isLogin = false"
      >
        Signup
      </button>
    </div>
    <ng-container *ngIf="isLogin">
      <form
        (ngSubmit)="login()"
        [formGroup]="loginInput"
        class="flex flex-col gap-3"
      >
        <p-floatlabel variant="on">
          <input
            formControlName="email"
            pInputText
            [fluid]="true"
            type="text"
            id="email"
            name="email"
          />
          <label for="signup-email">Email</label>
        </p-floatlabel>
        @if(loginInput.controls['email'].touched && loginInput.controls['email'].errors?.['email']) {
          <p-message severity="warn" >Provide valid email</p-message>
        }
        <p-floatlabel variant="on">
          <p-password
            formControlName="password"
            class="w-full"
            [fluid]="true"
            [toggleMask]="true"
            id="signup-password"
            name="password"
          />
          <label for="signup-password">Password</label>
        </p-floatlabel>
        @if(loginInput.controls['password'].touched && loginInput.controls['password'].errors?.['passwordIsWeak']){
          <p-message severity="warn"> Password is weak </p-message>
        }
        <div class="flex justify-end">
          <p class="text-blue-400"><a href="">Forgot Password</a></p>
        </div>
        <div class="!w-full mt-4 flex justify-center">
          <button
            type="submit"
            class="w-full cursor-pointer p-2 rounded bg-[#020617] text-[#f1f5f9] dark:bg-[#ffff] dark:text-[#082f49]"
          >
            Login
          </button>
        </div>
      </form>
    </ng-container>
    <ng-container
      class="flex justify-center items-center shadow-2xl shadow-black"
      *ngIf="!isLogin"
    >
      <form
        (ngSubmit)="signup()"
        [formGroup]="signUpData"
        class="flex flex-col justify-center gap-4 w-full"
      >
        <p-floatlabel variant="on">
          <input
            (change)="checkUserNameAvailable()"
            formControlName="userName"
            pInputText
            [fluid]="true"
            type="text"
            id="signup-user-name"
            name="signup-user-name"
          />
          <label for="signup-user-name">User Name</label>
        </p-floatlabel>
        @if(userNameTaken()){
          <p-message [severity]="userNameTakenBool()" [closable]="true" (onClose)="userNameTaken.set(false)"> {{userNameTakenMessage()}} </p-message>
        }
        <p-message *ngIf=""></p-message>
        <p-floatlabel variant="on">
          <input
            formControlName="name"
            pInputText
            [fluid]="true"
            type="text"
            id="signup-name"
            name="signup-name"
          />
          <label for="signup-name">Name</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
          <input
            formControlName="email"
            pInputText
            [fluid]="true"
            type="text"
            id="signup-email"
            name="signup-email"
          />
          <label for="signup-email">Email</label>
        </p-floatlabel>
        @if(signUpData.controls['email'].touched && signUpData.controls['email'].errors?.['email']){
          <p-message severity="warn"> Provide a valid Email </p-message>
        }
        <p-floatlabel variant="on">
          <p-password
            formControlName="password"
            type="password"
            [fluid]="true"
            [toggleMask]="true"
            
            id="signup-password"
            name="signup-password"
          />
          <label for="signup-password">Password</label>
        </p-floatlabel>
        @if(signUpData.touched && signUpData.controls['password'].errors?.['passwordIsWeak']) {
          <p-message severity="warn">Password is Weak</p-message>
        }
        <button
          type="submit"
          class="w-full cursor-pointer p-2 rounded bg-[#020617] text-[#f1f5f9] dark:bg-[#ffff] dark:text-[#082f49]"
        >
          Signup
        </button>
      </form>
    </ng-container>
    <div class="flex justify-center m-2 items-center">
      <hr class="w-full bg-gray-900" />
      <div class="mr-2 ml-2">OR</div>
      <hr class="w-full bg-gray-900" />
    </div>
    <div>
      <button
        class="w-full flex items-center justify-center gap-2 cursor-pointer p-2 rounded bg-[#020617] text-[#f1f5f9] dark:bg-[#ffff] dark:text-[#082f49]"
      >
        <i class="pi pi-google"></i>
        Continue with Google
      </button>
    </div>
  </p-card>
</div>
