@let group = group$ | async ;
<div class="mt-10 mr-10 flex flex-col gap-3">
  <div class="flex justify-between">
    <div class="flex gap-3 items-center">
      <p-avatar [image]="group?.groupProfileImage"
        [label]="group && group.groupProfileImage === null ? group?.name?.charAt(0) : undefined" shape="circle" />
      <h2> <strong>{{group?.name}}</strong> </h2>
    </div>
    <!-- <div  class="flex gap-3"> TODO ABILITY TO FIND MULTIPE GROUPS AND JOIN -->
    <!--   <p-button severity="info" outlined="true" size="small">Create Post</p-button> -->
    <!--   <p-button severity="info" size="small" label="Join"></p-button> -->
    <!-- </div> -->
  </div>
  <div *ngFor="let post of posts$ | async"> <app-post-card [postInput]="post"></app-post-card> </div>
</div>
